version: '3.8'


services:

  db-data:
    image: mysql:8
    env_file:
     - .env
    environment:
      - NODE_ENV
    ports:
      - 3306:3306
    volumes:
      - mysql:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/my.cnf

  flask:
    build: ./app
    ports:
      - 5000:5000
    links:
      - db-data
    volumes:
      - ./app:/usr/src/app
    restart: unless-stopped
volumes:
  mysql:
