@import "compass/css3";

* {
margin: 0;
padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}

.section{
  width: 1080px;
  height: 150px;
}

.column {
  float:left;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
 content: "";
 clear: both;
 display: table;
}

.regbar {
  background: #34495e;
}

h1, h2, p{
  color: #ecf0f1;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.site-name {
  background: #e90331;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}

a {
  color: #ecf0f1;
  text-decoration: none;

  &:hover {
      color: #1abc9c;
    }
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
