.header {
  background: #222323;
  width: 100%;
  height: 100px;
  padding-top: 50px;
  text-align: center;
}

.left-section{
  width: 65%;
  height: 100%;
  margin-left: 5%;
  margin-right:0;
  background: linear-gradient(#222323  20%, #34495e 60%);
  float: left;
  padding: 30px 15px 15px 15px;
}
.right-section{
  width: 25%;
  margin-right:0;
  margin-left:0;
  height: 100%;
  background: #005580;
  float: left;
  padding-top: 30px;
  outline: 5px solid white;
}

.flash{color: red}

.group{
  display: block;
  margin:20px;
}

.four-column{
  float:left;
  padding: 20px 5%;
  width: 15%;
  height: 100px;
}
.screen{
  background: #fff;
  height: 400px;
  width: 100%;
  overflow: auto;
}

.chatfield{
  background: #fff;
  height:170px;
  overflow: auto;
  margin: 5% 0;
}

.msg{
    width: 100%;
    word-break: break-all;
}

.timer{
  background: #fff;
  height: 50px;
  width: 50px;
  color: #000
}

.right-side-el{
  margin: 0 10%;
}

/* Clear floats after image containers */
.row::after {
 content: "";
 clear: both;
 display: table;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.button{

  color: rgba(250, 250, 250, 0.7);
  background: linear-gradient(145deg, #717070 10%, #CCCEEE 90%);
  border: none;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button:hover {
  color: rgba(70, 170, 180, 1);
  box-shadow: 0 5px 15px rgba(0, 204, 204, .4);
  background: linear-gradient(160deg, #808080  10%, #CCCEEE 90%);
  text-shadow: -1px 2px 2px #FFF,
          1px 1px 2px #DDD,
          1px -1px 0 #DDD,
          -1px -1px 0 #DDD;
}

.button:before {
    position: absolute;
    top: 0; right: 0;
    border-top: 60px solid white;
    border-left: 60px linear-gradient(160deg, #808080  10%, #CCCEEE 90%);
    width: 0;
}

.four-column{
float: left;
padding: 15px 5%;
width: 15%;
height: 70px;
}

#nextProduct{
  display: inline-block;

}

#myMessage, #estimate{
  height: 20px;
  margin: 4px 2px;
}
