
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

*{
  margin: 0;
  padding: 0
}

body{
  margin: 0;
  padding: 0;
  font-family: Montserrat, Sans-serif;
  background: linear-gradient(#222323  30%, #CCCEEE 80%);
}

img{max-width:100%; height:auto}

form{
  width: 100%;
}

h1, h2, p{
  color: #ecf0f1;
}

a {
  color: #ecf0f1;
  text-decoration: none;

  &:hover {
      color: #1abc9c;
    }
}

li{
  list-style-type: none;
}
